 <app-produit></app-produit>
 <div class="d-flex justify-content-center bg-dark mt-1">
  <h1 class="burg text-warning">Detail-Burger</h1>
</div>
 <div class="main mt-1 d-flex">

  <div class="main1 d-flex bg-dark mt-1 ">

  </div>
  <div class="main2  mt-1 ">

    <div class="card w-50 ">
      <img class=" d-flex justify-content-center align-items-center " src="{{burgerid.image}}" alt="">
      <button type="button" class="btn btn-outline-warning " data-mdb-ripple-color="dark">{{burgerid.nom}}</button>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:{{burgerid.prix}}</button>
        <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Ajouter au panier</button>
      </div>
    </div>

  </div>
  <div class="main1 d-flex bg-dark mt-1 ">

  </div>

</div>
