<app-produit></app-produit>
<section class="h-100 h-custom">
  <div  class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">

        <div  class="table-responsive">
          <table  class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Sous-Prix</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let tabpaniers of (items$ |async)">
              <tr >
                <th scope="row" class="border-bottom-0">
                  <div class="d-flex align-items-center">
                    <img src="{{tabpaniers.image}}" class="img-fluid rounded-3"
                      style="width: 120px;" alt="Book">
                    <div class="flex-column ms-4">
                      <p class="mb-2">{{tabpaniers.nom}}</p>
                    </div>
                  </div>
                </th>
                <td class="align-middle border-bottom-0">
                  <p class="mb-0" style="font-weight: 500;">{{tabpaniers.prix}}</p>
                </td>
                <td class="align-middle border-bottom-0">
                  <div class="d-flex flex-row">
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>
                    <span>{{tabpaniers.quantity}}</span>
                    <button class="btn btn-outline-warning " (click)="increment(tabpaniers,1)">+</button>
                    <button class="btn btn-outline-warning " (click)="increment(tabpaniers,-1)">-</button>


                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td class="align-middle border-bottom-0">
                  <p class="mb-0" style="font-weight: 500;">{{tabpaniers.prix*tabpaniers.quantity}}</p>
                </td>
                <button class="btn btn-danger w-100 text-danger mt-3" (click)="supprimerCart(tabpaniers)">Supprimer</button>

              </tr>

            </tbody>

          </table>
          <div class="mt-1 prixTotal border">

            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Total-Prix</h5>
                </div>
                <div  class="card-body d-flex flex-direction-column justify-content-center">
                  <button  type="button" class=" btn btn-warning btn-lg btn-block">
                    Total a Payer={{somme}}Cfa
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>







