.main1{
  width:10%;
  border:2px solid black;
height:70vh;
}
.main2{
display:flex;
  width:80%;
  height:50vh;
}

.main{
 display:flex;
}
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
.prixTotal{

  display:flex;
  flex-direction:column;
  align-items:center;

}
.prixTotal p{
  font-size:1rem;
  
}
.prixTotal div{
  font-size:1rem;
}
