
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
      <div class="navb container-fluid  ">
        <div class="border-warning card "style="width:100px ">
        <img class="card-img-top" src="https://img.freepik.com/photos-gratuite/big-sandwich-hamburger-burger-boeuf-oignon-rouge-tomate-bacon-frit_2829-5398.jpg?t=st=1658596784~exp=1658597384~hmac=3bdbb741f6393c60cb7bc3541f3a0212fd093d198558ccf43ca4289e5e76b94c&w=996" alt="Card image" style="width:100%">
      </div>
      <span class="bugerbesil col-4">
        <h1 class="bresil text-warning">BRESIL  BURGER</h1>
      </span>

        <div class="hearder d-flex justify-content-between"  id="navbarColor02 ">
          <ul class="navbar-nav ml-5">

            <li class="nav-item ">
              <a class="nav-a nav-link text-warning" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-a nav-link text-warning " href="#">A propos</a>
            </li>

          </ul>
        </div>
        <div class="border-warning card d-flex flex-direction-column"style="width:100px ">
          <img class="" src="../../assets/image/shopping-cart2.png" alt="Card image" style="width:100%">
        </div>

      </div>
    </nav>
    <div class="main">

      <div class="d-flex justify-content-center bg-dark mt-1">
        <h1 class="burg text-warning">Burger</h1>
      </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1571091655789-405eb7a3a3a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJ1cmdlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <div class="card-body">

            <h5 class="card-title d-flex justify-content-center"> Burger</h5>
              <div class="boutton m-3">
                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix</button>
                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
              </div>

            <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
          </div>
        </div>

      <div class="d-flex justify-content-center bg-dark mt-1">

  <h1 class="men text-warning">Menu</h1>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1551782450-17144efb9c50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YnVyZ2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
        <div class="card-body ">
          <h5 class="card-title  d-flex justify-content-center">Menu Burger</h5>
          <div class="boutton m-3">
            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix</button>
            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
          </div>
          <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
        </div>
      </div>

    </div>


