<app-header></app-header>

    <div class="main">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; chercher le Burger ou le Menu de votre choix">
      </div>
      <div class="d-flex justify-content-center bg-dark mt-1">
        <h1 class="burg text-warning">Burger</h1>
      </div>
      <div class="d-flex">
        <div *ngFor="let burgertab of burger | filter:searchText async" class="card"  style="width: 18rem;">
          <img class="card-img-top" src="{{burgertab.image}}" alt="Card image cap">
          <div class="card-body">

            <h5 class="card-title d-flex justify-content-center">{{burgertab.description}}</h5>
              <div class="boutton m-3">
                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:{{burgertab.prix}}</button>
                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="['/detail-burger',burgertab.id]">Detail</button>
              </div>

            <a href="#" class="btn btn-warning w-100" (click)="addToCart(burgertab)">Ajouter au panier</a>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center bg-dark mt-1">
        <h1 class="men text-warning">Menu</h1>
      </div>

      <div class="d-flex">
        <div *ngFor="let menutab of menu | filter:searchText async" class="card"  style="width: 18rem;">
          <img class="card-img-top" src="{{menutab.image}}" alt="Card image cap">
          <div class="card-body">
              <div class="boutton m-3">
                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:{{menutab.prix}}</button>
                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="['/detail-menu',menutab.id]">Detail</button>
              </div>
            <div class="btn btn-warning w-100 h-25"></div>

          </div>
        </div>
      </div>



</div>



