<app-admin></app-admin>
<div class="d-flex justify-content-center  mt-1 ">
  <button  type="button" class=" btn btn-warning  d-flex justify-content-center"  [routerLink]="['/detail-commande']">Lister Commander Clients</button>


    <nav class="navbar navbar-expand-lg navbar-warnig bg-warnig ">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="">
          <div class="navbar-nav text-warning">
          </div>
        </div>
      </div>
    </nav>
  </div>

    <div class="container">
      <div *ngIf="searchText==formateDateToday()">
        <h3 class="d-flex justify-content-center">Les Commandes D aujaurdui</h3>
      </div>
      <div *ngIf="searchText!=formateDateToday()">
        <h3 class="d-flex justify-content-center">Les Commandes Du {{searchText}}</h3>
      </div>

    </div>



<div class="form-group mb-4 container" >
   <input class="form-control" name="search"  type="date" [(ngModel)]="searchText" autocomplete="off" value="{{searchText}}">

  <h3 class="d-flex justify-content-center">Zone Disponible</h3>
  <td class="" *ngFor="let items of zoness">
    <ul class="">
      <li><a  type="button" class="btn btn-warning " [routerLink]="['zone',items['id']]" >{{items['nomZone']}}</a></li>
    </ul>
  </td>
</div>

  <div class="listecommande container" >

  <table class="table align-middle mb-0  table-hover table-active table-responsive table-bordered" >
    <thead class="bg-dark">

      <tr class="text-warning">
        <th>No Commande</th>
        <th>Heure</th>
        <th>Clients</th>
        <th>Etat</th>
        <th>Actions</th>
      </tr>
    </thead>

   <tbody *ngFor="let item of listCom | filter:searchText">
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{item['numeroCommande']}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{item['dateCommande']  | date:"shortTime"}}</p>
        </td>
        <td class="d-flex justify-content-lg-evenly">

        </td>
        <td class="">{{item['etatCommande']}}</td>

        <td class="d-flex justify-content-evenly " >
          <button  type="button" class=" btn btn-success  d-flex justify-content-center " *ngIf="item['etatCommande'] =='en cours'" (click)="changeEtat(item)">valider</button>
          <button  type="button" class=" btn btn-danger  d-flex justify-content-center " *ngIf="item['etatCommande']=='commande en cours de preparation'" (click)="changeEtat(item)">annuler</button>
          <button  type="button" class=" btn btn-primary  d-flex justify-content-center "  [routerLink]="['id-comande',item.id]" >detail</button>
        </td>
      </tr>
    </tbody>
  </table>






  </div>

