.hearder{
  height:20vh;
}
.main{
  height:71vh;
  border:3px solid blue;
}
.footer{
  height:9vh;
  border:3px solid green;

}
.main2{
  /* width:40%; */
  height:50vh;
 display:flex;
 justify-content:center;
}
