.main1{
    width:20%;
    border:2px solid black;
  /* height:100vh; */
  }
  .main2{
    width:60%;
    height:50vh;
   display:flex;
   justify-content:center;
  }

  .main3{
    width:20%;

  }

  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
.burn{
  display:flex;
flex-wrap:wrap;
}

