<div class="d-flex justify-content-between" >

  <div class="col-6 align-items-center card-6 p-4 border" >
     <div class="">
        <img src="{{menu.image}}"

        class="img-fluid" alt="Generic placeholder image">

      </div>
      <table class="table align-middle mb-0 bg-white " >
        <thead class="bg-light">
          <tr>
            <th>Nom</th>
            <th>Prix</th>
          </thead>

          <tr>

            <td>
              <div>
                <p class="lead fw-normal mb-0">{{menu.nom}}</p>
              </div>
            </td>


            <td>
              <div>
                <p class="lead fw-normal mb-0">{{(menu.prix+menuTai.taille.prix) + ((menuTai.taille.prix)* (+quant.value))}}</p>
              </div>
            </td>
          </tr>
<div class="d-flex justify-content-center ">

  <button *ngIf="+quant.value==menuTai.quantity" type="button" class="btn btn-primary btn-lg bg-dark text-warning" [routerLink]="['/panier']" (click)="addToCart(menu)"  >Ajouter au panier</button>
</div>

</table>

</div>





   <div class="card row w-100 col-1">

      <div class="d-flex" >
        <div class="card"  style="width: 15rem;">
          <img class="card-img-top" src="{{burger.burger.image}}" alt="Card image cap">
          <h5 class="d-flex justify-content-center">{{burger.burger.nom}}</h5>

          <div class="card-body">
            <div class="boutton m-3">
              <button type="button" class="btn btn-warning " data-mdb-ripple-color="dark" >quantite_burger:{{burger.quantiteBurger}}</button>
            </div>

          </div>
        </div>
      </div>
     <div class="d-flex" >
       <div class="card"  style="width: 15rem;">
         <img class="card-img-top" src="{{frite.frite.image}}" alt="Card image cap">
         <h5 class="d-flex justify-content-center">{{frite.frite.nom}}</h5>

         <div class="card-body">
           <div class="boutton m-3">
             <button type="button" class="btn btn-warning" data-mdb-ripple-color="dark" >quantite_frite:{{frite.quantiteFrite}}</button>
           </div>

         </div>
       </div>
     </div>

     <div>

    </div>
     <div>

    </div>

     <div class="d-flex border " style="width: 20rem">
       <section class="bg-light">
         <div class="container">
           <div class="row">
             <div class="col-lg-12 mb-4 mb-sm-5">
               <div class="card card-style1 border-0">
                 <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                   <div class="row align-items-center">
                     <div class="col-lg-6 mb-4 mb-lg-0">
                       <img class="card-img" src="{{menuTai.taille.tailleBoissons['0'].boisson.image}}" alt="">

                     </div>
                     <div class="col-lg-6 px-xl-10">
                       <div class="bg-dark d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                         <h3 class="h2 text-warning mb-0 d-flex justify-content-center"></h3>
                       </div>
                       <ul class="list-unstyled mb-1-9">
                         <li class="mb-2 mb-xl-3 display-28 "><span class="display-26 text-secondary me-2 font-weight-600">Quantite</span>{{menuTai.quantity}}</li>
                         <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Libelle:</span>{{menuTai.taille.libelle}}</li>
                         <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Prix:</span>{{menuTai.taille.prix}}</li>

                       </ul>

                     </div>
                   </div>
                 </div>
               </div>
             </div>


           </div>
         </div>

       </section>


       <button class="btn btn-dark h-25"
               onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="decrementq(quant.value)" >
         <i class="fas fa-minus text-warning">-</i>
       </button>
       <div class="form-outline">
         <img src="" alt="">
         <input id="" min="1" name="quantity" #quant  value="1" type="number" class="form-control" />
       </div>
       <button class="btn btn-dark h-25"
               onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="incrementq(quant.value)"  *ngIf="+quant.value<menuTai.quantity" >
         <i class="fas fa-plus text-warning">+</i>
       </button>

   </div>

</div>
</div>
