.main1{
    /* width:70vw; */
    border:2px solid black;
  /* height:100vh; */
  }
  .main2{
    /* width:40%; */
    height:50vh;
   display:flex;
   justify-content:center;
  }

  .main{
   display:flex;
  }
